@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --primary: #c11e1e;
    --primary-light: #d54d4d;
    --light-gray: #f5f5f5;
    --dark-text: #2a2522;
    --medium-text: #666;
    --light-text: #888;
    --green: #2ecc71;
    --green-light: rgba(46, 204, 113, 0.1);
    --orange: #e67e22;
    --orange-light: rgba(230, 126, 34, 0.1);
    --blue: #3498db;
    --blue-light: rgba(52, 152, 219, 0.1);
    --purple: #9b59b6;
    --purple-light: rgba(155, 89, 182, 0.1);
    --background-color: #fcf5e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: var(--background-color)!important;
}

footer {
    padding: 10px 20px;
    width: 50%;
    align-self: center;
    font-size: small;
    border-radius: 10px 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: bold;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 10;
}


h1, h2, h3, h4, h5, h6 {
    text-align: start;
    font-weight: 600 !important;
    display: flex;
    align-items: center;
    gap: 10px;
}

select{
    width: 100%;
    padding: 10px 12px;
    border: 2px solid #cbcbcb;
    border-radius: 8px; 
    font-size: 16px !important;
    outline: none;
    background-color: var(--background-color);
}

select:focus{
    border: 2px solid #f27c3d;
}

input {
    width: 100%;
    padding: 10px 12px;
    border: 2px solid #cbcbcb;
    border-radius: 8px; 
    font-size: 14px;
    outline: none;
    background-color: var(--background-color);
}

input:focus {
    border: 2px solid #f27c3d;
}

input::placeholder {
    color: #999;
    font-size: 14px;
}

.form-control{
    background-color: var(--background-color)!important;
    border: none!important;
}

.text-primary-light{
    color: var(--primary-light);
}

.section{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.hr{
    background-color: var(--background-color);
    margin: 0px 15px 0px 15px;
}

.custom-modal {
    background-color: var(--background-color)!important;
    color: var(--dark-text);
    border: 1px solid var(--primary);
  }
  
.custom-modal .modal-header {
    background-color: var(--background-color)!important;
    color: var(--dark-text);
    border-bottom: none;
    padding: 20px;
}

.custom-modal .modal-title {
    color: var(--dark-text);
}

.custom-modal .modal-body {
    background-color: var(--background-color) !important;
    color: var(--medium-text);
    padding: 20px;
}

.custom-modal .modal-footer {
    background-color: var(--background-color) !important;
    padding: 15px 20px;
}

.button-primary {
    background-color: var(--primary);
    border: none;
    border-radius: 12px;
    width: 80px;
    color: white;
    height: 40px;
    font-size: 14px; 
    transition: all 0.3s ease;
    cursor: pointer;
}

.button-primary:hover {
    background-color: var(--primary-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}


.button-secondary{
    background-color: var(--light-gray);
    border: solid 1px #cbcbcb;
    border-radius: 12px;
    width: 80px;
    color: black;
    height: 40px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button-secondary:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}
  
.sidebar {
    width: 256px;
    background-color: var(--background-color);
    border-right: 1px solid #ddd;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.sidebar.hidden {
    margin-left: -250px;
}

.card-section{
    background: white;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 90%;
}

.info-card{
    padding: 5px;
    border: solid 1px #cbcbcb;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 90%;
}

.category-card {
    background: var(--light-gray);
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.category-title {
    margin-bottom: 1rem;
    color: var(--dark-text);
    border-left: 5px solid var(--primary);
    padding-left: 0.8rem;
    font-size: 1.25rem;
}

.product-list {
    display: flex;
    gap: 1rem;
}

.nav-tabs .nav-link {
    color: var(--dark-text);
    background-color: var(--light-gray);
    border: 1px solid var(--primary-light);
    font-weight: 500;
}

.nav-tabs .nav-link.active {
    background-color: var(--primary-light);
    color: white;
}

.product-card {
    background-color: white;
    border-radius: 12px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.02);
}

.product-card h5 {
    margin: 0;
    font-size: 1.1rem;
    color: var(--dark-text);
    justify-content: space-between;
}

.product-card .price {
    color: var(--primary);
    font-weight: bold;
    margin: 0.5rem 0;
}

.product-card .description {
    color: var(--medium-text);
    font-size: 0.9rem;
}


.logo-container {
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.app-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    color: var(--dark-text);
    text-align: center;
}

.menu {
    flex: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: var(--dark-text);
    text-decoration: none;
    transition: background-color 0.2s;
}

.menu-item.active {
    background-color: #f5f0e5;
    border-left: 4px solid var(--primary);
    font-weight: 500;
}

.menu-item:hover:not(.active) {
    background-color: #f5f5f5;
}

.menu-item i {
    margin-right: 10px;
    font-size: 20px;
    width: 24px;
    text-align: center;
}

.logout {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    color: var(--medium-text);
    cursor: pointer;
    transition: background-color 0.2s;
}

.logout:hover {
    background-color: #f5f5f5;
}

.logout i {
    margin-right: 10px;
    font-size: 20px;
    width: 24px;
    text-align: center;
    color: var(--primary);
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    transition: margin-left 0.3 ease;
}

.sidebar.hidden + .main-content {
    margin-left: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 15px;
    box-shadow: #0000000f 1px 2px 7px 1px;
    border-bottom: 1px solid #eee;
    background-color: white;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-icon {
    margin-right: 15px;
    color: var(--medium-text);
    font-size: 20px;
}

.page-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-light);
    border-left: 1px solid #cbcbcb;
    padding-left: 10px;
}

.page-subtitle {
    font-size: 14px;
    color: var(--medium-text);
    margin-top: 4px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-name {
    text-align: right;
    margin-right: 10px;
}

.user-name h4 {
    font-size: 14px;
    font-weight: 500;
}

.user-name p {
    font-size: 12px;
    color: var(--medium-text);
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    overflow: hidden;
}

.avatar.cs {
    background-color: #6a1b9a;
}

.tabs-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.tabs-buttons button {
    padding: 10px 20px;
    border: 1px solid #e0dcd5;
    border-radius: 10px;
    background-color: var(--background-color);
    color: #333;
    font-weight: 500;
    display: flex;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    align-items: center;
    gap: 5px;
}

.tabs-buttons button:hover {
    background-color: #f0e9e1;
    color: var(--dark-text);
}

.tabs-buttons .active-tab {
    background-color: #c13232;
    color: white;
    border: none;
    font-weight: bold;
}

.tab-section {
    display: none;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.tab-section.active-tab-section {
    display: flex;
}

.tab-content{
    height: 100%;
    padding: 15px;
    border: solid 1px #cbcbcb;
    border-radius: 10px;
}

.card-produto {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    width: 49%;
    padding: 16px;
    position: relative;
    height: 160px;
    transition: transform 0.2s;
}

.card-produto:hover {
    transform: translateY(-3px);
}

.tag-tipo {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f4e2b6;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.card-titulo {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.card-descricao {
    font-size: 14px;
    color: #666;
    margin-bottom: 12px;
    min-height: 40px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preco {
    font-size: 16px;
    color: #c13232;
    font-weight: bold;
}

.btn-adicionar {
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-adicionar:hover {
    background-color: var(--primary-light);
}

.tabs-container {
    background-color: #f6f1e8;
    display: inline-flex;
    padding: 4px;
    border-radius: 12px;
    gap: 4px;
}

.tab-button {
    padding: 6px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    color: #6c6c6c;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.tab-button.active {
    background-color: #ffffff;
    font-weight: bold;
    color: #000000;
}
  
.info-mesa-card {
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 10px;
    max-width: 800px;
}

.info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.info-header h2 {
    margin: 0;
    font-size: 1.6rem;
    color: #d32f2f;
}

.data-criacao {
    font-size: 0.9rem;
    color: #888;
}

.info-body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.info-item {
    font-size: 1rem;
    color: #333;
    min-width: 200px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.tabs-container{
    border: solid 1px #cbcbcb;
}

.alert {
    margin-bottom: 1rem;
}

.alert .ph {
    margin-right: 0.5rem;
}

.resumo-fechamento {
    background: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem 0;
}

.resumo-fechamento .d-flex {
    margin-bottom: 0.5rem;
}

.conta-detalhes .info-item {
    margin-bottom: 1rem;
}

.conta-detalhes .info-item small {
    display: block;
    font-size: 0.8rem;
}

.conta-item {
    border-bottom: 1px solid #eee;
}

.conta-item:last-child {
    border-bottom: none;
}

.conta-total {
    background: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
    transform: translateY(-1px);
}

.custom-modal .modal-body .alert {
    margin-bottom: 1rem;
}

.empty-pedido i {
    font-size: 3rem;
    color: #ccc;
    margin-bottom: 1rem;
}